TrackLocation/TrackLocation.xcodeproj/project.xcworkspace/contents.xcworkspacedata
TrackLocation/TrackLocation.xcodeproj/project.xcworkspace/xcuserdata/stanislavshpak.xcuserdatad/UserInterfaceState.xcuserstate
TrackLocation/TrackLocation.xcodeproj/xcuserdata/stanislavshpak.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
TrackLocation/TrackLocation.xcodeproj/xcuserdata/stanislavshpak.xcuserdatad/xcschemes/TrackLocation.xcscheme
TrackLocation/TrackLocation.xcodeproj/xcuserdata/stanislavshpak.xcuserdatad/xcschemes/xcschememanagement.plist
